<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">KT-DB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Startseite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_article_list') }}">Artikel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_supplier_list') }}">Lieferanten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_category_list') }}">Kategorien</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_toner_list') }}">Toner</a>
                </li>
{#                prüft, ob ich ADMIN bin und wenn ja, dann zeige das dropdown-menu an#}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Admin
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_user_list') }}">User</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        User
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        {#                        <a class="btn btn-primary" href="{{ path('app_user_edit', {'userId': user.id}) }}">#}
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a class="dropdown-item" href="{{ path('app_login') }}">Login</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_register') }}">Register</a></li>
                        {% else %}
                            {#                        <li><hr class="dropdown-divider"></li>#}
                            <li><a class="dropdown-item" href="{{ logout_url() }}">Logout</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

